doctype html
html(ng-app="myAccount")
    head
        title=title
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700')
        link(rel='stylesheet', href='account/css/bootstrap.min.css')
        link(rel='stylesheet', href='account/css/style.css')
    body(ng-controller="myControllerLogin")
        .ng-view
    script(src="libs/js/jquery.min.js")
    script(src="libs/bootstrap/js/bootstrap.min.js")
    script(src="libs/js/jquery.backstretch.min.js")
    script(src="libs/js/angular.min.js")
    script(src="libs/js/angular-route.js")
    script(src="libs/js/jquery-cookie.js")
    script(src="js/account.js")
    script(src="libs/js/scripts.js")
