//
   Created by Administrator on 03/01/2017.
html
script(src="assets/js/jquery-1.8.2.min.js")
script(src="assets/js/jquery-cookie.js")
script(type='text/javascript').
    var token = $.cookie('token')
    var type = $.cookie('type')
    var username = $.cookie('username')
    $.ajax({
        url: 'dashboard/'+username,
        type: 'GET',
        headers:{'Authorization': type+' '+token},
    }).done(function (res) {
        $('html').html(res);
    });
