doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 giao dien  dashboard
    input(class="logout" type="button" value="Logout")
    script(src="assets/js/jquery-1.8.2.min.js")
    script(src="assets/js/jquery-cookie.js")

    script.
      $('.logout').click(function () {
          $.removeCookie('token');
          window.location = "/";
      });
